@model Character

@* Character/DetailsOf *@
<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-outline-dark" asp-controller="Character" asp-action="Upload">Upload</a>
            <a type="button" class="btn btn-outline-dark" asp-controller="Character" asp-action="Create">Create</a>
            <a type="button" class="btn btn-outline-secondary" asp-controller="Character" asp-action="Details">Characters</a>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div class="row d-flex justify-content-between mt-3">
        @* Portrait *@
        <div class="col-1">
            <p class="mb-0">Portrait</p>
            <img class="rounded-3 mt-3 ms-4 pointer" src="@Model.Details.Portrait" width="60" height="80" title="this is how your character will look on the battleboard" />
        </div>
        @* Details *@
        <div class="col-3">
            <p class="mb-0">Character</p>
            <ul>
                @if(Model.Details.IsLocked)
                {
                    <li>
                        <span class="text-red">character locked (@Model.Details.BoardType)</span>
                    </li>
                }
                <li>
                    name: <span class="text-muted">@Model.Details.Name</span>
                </li>
                <li>
                    race: <span class="text-muted">@Model.Details.Race</span>
                </li>
                 <li>
                    culture: <span class="text-muted">@Model.Details.Culture</span>
                </li>
                <li>
                    specialization: <span class="text-muted">@Model.Details.Spec</span>
                </li>
                <li>
                    entity level: <span class="text-muted">@Model.Details.Entitylevel</span>
                </li>
                @if (Model.Details.Levelup > 0)
                {
                    <li>
                        level up pts.: <span class="text-green">@Model.Details.Levelup</span>
                    </li>
                }
                else
                {
                    <li>
                        level up pts.: <span class="text-muted">@Model.Details.Levelup</span>
                    </li>
                }
                <li>
                    wealth: <span class="text-muted">@Model.Details.Wealth</span>
                </li>
                <li>
                    worth: <span class="text-muted">@Model.Details.Worth</span>
                </li>
                <li>
                    renown: <span class="text-muted">@Model.Details.Renown</span>
                </li>
            </ul>
        </div>
        @* Stats *@
        <div class="col-3">
            <p class="mb-0">Stats</p>
            <ul>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Endurance')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Endurance:
                    <span class="text-muted">@Model.Actuals.Endurance</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Accretion')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Accretion:
                    <span class="text-muted">@Model.Actuals.Accretion</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Defense')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Defense:
                    <span class="text-muted">@Model.Actuals.Defense</span> %
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Resist')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Resist :
                    <span class="text-muted">@Model.Actuals.Resist</span> %
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Actions')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Actions:
                    <span class="text-muted">@Model.Actuals.Actions</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Strength')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Strength:
                    <span class="text-muted">@Model.Actuals.Strength</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Constitution')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Constitution:
                    <span class="text-muted">@Model.Actuals.Constitution</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Agility')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Agility:
                    <span class="text-muted">@Model.Actuals.Agility</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Willpower')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Willpower:
                    <span class="text-muted">@Model.Actuals.Willpower</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Abstract')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Abstract:
                    <span class="text-muted">@Model.Actuals.Abstract</span>
                </li>
            </ul>
        </div>
        @* Skills *@
        <div class="col-3">
            <p class="mb-0">Skills</p>
            <ul>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Melee')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Melee:
                    <span class="text-muted">@Model.Actuals.Melee</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Arcane')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Arcane:
                    <span class="text-muted">@Model.Actuals.Arcane</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Psionics')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Psionics:
                    <span class="text-muted">@Model.Actuals.Psionics</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Social')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Social:
                    <span class="text-muted">@Model.Actuals.Social</span>
                </li>
                 <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Hide')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Hide:
                    <span class="text-muted">@Model.Actuals.Hide</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Survival')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Survival:
                    <span class="text-muted">@Model.Actuals.Survival</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Tactics')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Tactics:
                    <span class="text-muted">@Model.Actuals.Tactics</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Aid')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Aid:
                    <span class="text-muted">@Model.Actuals.Aid</span>
                </li>
                <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Crafting')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Crafting:
                    <span class="text-muted">@Model.Actuals.Crafting</span>
                </li>
                 <li>
                    @if (Model.Details.Levelup > 0) { <button onclick="levelup('Spot')" class="btn btn-outline-dark py-0 px-1" style="opacity: 0.3">+</button> } 
                    Spot:
                    <span class="text-muted">@Model.Actuals.Spot</span>
                </li>
            </ul>
        </div>
    </div>
</div>

@* Items and inventory *@
<div class="container mt-3 footer-border">
    @* Item actions *@
    <div id="inventoryActions" class="btn-group btn-group-sm pt-3" role="group" style="display:none">
        <button onclick="equipItem()" id="equipAction" type="button" class="btn btn-outline-dark actions secondary-darkgreen" style="display:none">&#8592; equip</button>
        <button onclick="unequipItem()" id="unequipAction" type="button" class="btn btn-outline-dark actions secondary-darkyellow" style="display:none">unequip &#8594;</button>
        <button onclick="sellItem()" id="sellAction" type="button" class="btn btn-outline-dark actions" style="display:none">sell &#8605;</button>
        <button onclick="hideInventoryActions()" title="hide actions" type="button" class="btn btn-outline-dark actions secondary-darkred">&#10008;</button>
    </div>
    <div class="row mt-3">
        @* Inventory *@
        <div class="col-3">
            <p class="mb-2">Inventory</p>
            @foreach(var item in Model.Inventory)
            {
                <img 
                    src="@item.Icon" 
                    class="rounded-2 item item-@item.Level"
                    id="@item.Id"
                    onclick="equipUnequipItem('@item.Id', 'unequip', 'inventory')"
                    title="@item.Name
*** details ***
@(item.HasTaint ? "tainted" : "untainted")
@item.Type.ToLower()
level @item.Level
value @item.Value
*** stats ***
DEF @item.Stats.Defense
RES @item.Stats.Resist 
ACT @item.Stats.Actions
END @item.Stats.Endurance
ACC @item.Stats.Accretion
STR @item.Stats.Strength
CNS @item.Stats.Constitution
AGL @item.Stats.Agility
WIL @item.Stats.Willpower
ABS @item.Stats.Abstract
*** skills ***
MEL @item.Stats.Melee
ARC @item.Stats.Arcane 
PSI @item.Stats.Psionics
SOC @item.Stats.Social
HID @item.Stats.Hide
SUR @item.Stats.Survival
TAC @item.Stats.Tactics
AID @item.Stats.Aid 
CRA @item.Stats.Crafting
SPO @item.Stats.Spot " />
            }
        </div>
        @* Regalia *@
        <div class="col-3">
            <p class="mb-2">Regalia</p>
            @foreach(var trinket in Model.Regalia)
            {
                <img src="@trinket.Icon"
                        class="rounded-2 item item-@trinket.Level"
                        id="@trinket.Id"
                        onclick="equipUnequipItem('@trinket.Id', 'unequip', 'regalia')"
                        title="@trinket.Name
*** details ***
@(trinket.HasTaint ? "tainted" : "untainted")
@(trinket.IsPermanent ? "can be consumed" : "can only be worn")
@trinket.Type.ToLower()
level @trinket.Level
value @trinket.Value
*** stats ***
DEF @trinket.Stats.Defense
RES @trinket.Stats.Resist
ACT @trinket.Stats.Actions
END @trinket.Stats.Endurance
ACC @trinket.Stats.Accretion
STR @trinket.Stats.Strength
CNS @trinket.Stats.Constitution
AGL @trinket.Stats.Agility
WIL @trinket.Stats.Willpower
ABS @trinket.Stats.Abstract
*** skills ***
MEL @trinket.Stats.Melee
ARC @trinket.Stats.Arcane
PSI @trinket.Stats.Psionics
SOC @trinket.Stats.Social
HID @trinket.Stats.Hide
SUR @trinket.Stats.Survival
TAC @trinket.Stats.Tactics
AID @trinket.Stats.Aid
CRA @trinket.Stats.Crafting
SPO @trinket.Stats.Spot " />
            }
        </div>
        @* Supplies *@
        <div class="col-6">
            <p class="mb-2">Supplies</p>
            @foreach (var suppliesItem in Model.Supplies.Items)
            {
                <img 
                    src="@suppliesItem.Icon" 
                    class="rounded-2 item item-@suppliesItem.Level"
                    id="@suppliesItem.Id"
                    onclick="equipUnequipItem('@suppliesItem.Id', 'equip', 'inventory')"
                    title="@suppliesItem.Name

*** details ***
@(suppliesItem.HasTaint ? "tainted" : "untainted")
@suppliesItem.Type.ToLower()
level @suppliesItem.Level
value @suppliesItem.Value
*** stats ***
DEF @suppliesItem.Stats.Defense
RES @suppliesItem.Stats.Resist
ACT @suppliesItem.Stats.Actions
END @suppliesItem.Stats.Endurance
ACC @suppliesItem.Stats.Accretion
STR @suppliesItem.Stats.Strength
CNS @suppliesItem.Stats.Constitution
AGL @suppliesItem.Stats.Agility
WIL @suppliesItem.Stats.Willpower
ABS @suppliesItem.Stats.Abstract
*** skills ***
MEL @suppliesItem.Stats.Melee
ARC @suppliesItem.Stats.Arcane
PSI @suppliesItem.Stats.Psionics
SOC @suppliesItem.Stats.Social
HID @suppliesItem.Stats.Hide
SUR @suppliesItem.Stats.Survival
TAC @suppliesItem.Stats.Tactics
AID @suppliesItem.Stats.Aid
CRA @suppliesItem.Stats.Crafting
SPO @suppliesItem.Stats.Spot " />
            }
            @foreach (var suppliesTrinket in Model.Supplies.Regalia)
            {
                <img src="@suppliesTrinket.Icon"
                     class="rounded-2 item item-@suppliesTrinket.Level"
                     id="@suppliesTrinket.Id"
                     onclick="equipUnequipItem('@suppliesTrinket.Id', 'equip', 'regalia')"
                     title="@suppliesTrinket.Name

*** details ***
@(suppliesTrinket.HasTaint ? "tainted" : "untainted")
@(suppliesTrinket.IsPermanent ? "can be consumed" : "can only be worn")
@suppliesTrinket.Type.ToLower()
level @suppliesTrinket.Level
value @suppliesTrinket.Value
*** stats ***
DEF @suppliesTrinket.Stats.Defense
RES @suppliesTrinket.Stats.Resist
ACT @suppliesTrinket.Stats.Actions
END @suppliesTrinket.Stats.Endurance
ACC @suppliesTrinket.Stats.Accretion
STR @suppliesTrinket.Stats.Strength
CNS @suppliesTrinket.Stats.Constitution
AGL @suppliesTrinket.Stats.Agility
WIL @suppliesTrinket.Stats.Willpower
ABS @suppliesTrinket.Stats.Abstract
*** skills ***
MEL @suppliesTrinket.Stats.Melee
ARC @suppliesTrinket.Stats.Arcane
PSI @suppliesTrinket.Stats.Psionics
SOC @suppliesTrinket.Stats.Social
HID @suppliesTrinket.Stats.Hide
SUR @suppliesTrinket.Stats.Survival
TAC @suppliesTrinket.Stats.Tactics
AID @suppliesTrinket.Stats.Aid
CRA @suppliesTrinket.Stats.Crafting
SPO @suppliesTrinket.Stats.Spot " />
            }
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div id="characterString" style="display:none">
        <div class="row mt-3">
            <div class="col d-flex justify-content-center align-items-center">
                <textarea id="characterStringArea" class="input-with-color w-75 mt-2 p-0 ps-2 rounded-2" title="this is your character's encrypted string" style="font-size:xx-small"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="btn-group btn-group-sm">
                    <button onclick="copyCharacter()" id="copyBtn" class="btn btn-sm btn-outline-dark">Copy</button>
                    <button onclick="hideCopyCharacterAction()" title="close export tab" type="button" class="btn btn-outline-dark actions secondary-darkred">&#10008;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div>
            <button onclick="exportCharacter()" class="btn btn-sm btn-outline-dark float-end">Export character</button>
        </div>
    </div>
</div>

<script>
    const hideCopyCharacterAction = () => {
        $("#characterString").slideUp(200);
    }

    const copyCharacter = () => {
        $("#characterStringArea").select();
        document.execCommand('copy');
    }

    const exportCharacter = () => {
        const characterId = localStorage.getItem("characterId");
        const sessionId = localStorage.getItem("sessionId");

        if (!characterId) return;
        $("#spinner").show();

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("ExportCharacter", "Character")',
            contentType: "application/json",
            data: JSON.stringify({
                id: characterId,
                sessionId: sessionId
            }),
            success: function (response) {
                $("#characterStringArea").val(response);
                $('#characterString').slideDown(200)
                hideLoading();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    const equipUnequipItem = (id, action, type) => {
        $("#inventoryActions").show();
        itemSelect(id);

        if (action === "unequip") {
            $("#unequipAction").show();
            $("#equipAction").hide();
            $("#sellAction").hide();
        } else if (action === "equip") {
            $("#unequipAction").hide();
            $("#equipAction").show();
            $("#sellAction").show();
        } 
    }

    const hideInventoryActions = () => {
        $("#inventoryActions").hide();
        $(".item").removeClass("selected");
    }

    const itemSelect = (id) => {
        localStorage.setItem("selectedItem", id);
        $(".item").removeClass("selected");
        $("#" + id).addClass("selected");
    }

    const equipItem = () => {

        const characterId = localStorage.getItem("characterId");
        const sessionId = localStorage.getItem("sessionId");
        const itemId = localStorage.getItem("selectedItem");

        if (!characterId) return;
        $("#spinner").show();
        
        $.ajax({
            type: 'PUT',
            url: '@Url.Action("EquipItem", "Character")',
            contentType: "application/json",
            data: JSON.stringify({
                itemId: itemId,
                characterId: characterId,
                sessionId: sessionId
            }),
            success: function (response) {
                localStorage.setItem("character", JSON.stringify(response));
                location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    const unequipItem = () => {

        const characterId = localStorage.getItem("characterId");
        const sessionId = localStorage.getItem("sessionId");
        const itemId = localStorage.getItem("selectedItem");

        if (!characterId) return;
        $("#spinner").show();

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("UnequipItem", "Character")',
            contentType: "application/json",
            data: JSON.stringify({
                itemId: itemId,
                characterId: characterId,
                sessionId: sessionId
            }),
            success: function (response) {
                localStorage.setItem("character", JSON.stringify(response));
                location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    const sellItem = () => {

        const characterId = localStorage.getItem("characterId");
        const sessionId = localStorage.getItem("sessionId");
        const itemId = localStorage.getItem("selectedItem");

        if (!characterId) return;
        $("#spinner").show();

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SellItem", "Character")',
            contentType: "application/json",
            data: JSON.stringify({
                itemId: itemId,
                characterId: characterId,
                sessionId: sessionId
            }),
            success: function (response) {
                localStorage.setItem("character", JSON.stringify(response));
                location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    const levelup = (attr) => {

        const characterId = localStorage.getItem("characterId");
        const sessionId = localStorage.getItem("sessionId");

        if (!characterId) return;
        $("#spinner").show();

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("Levelup", "Character")',
            contentType: "application/json",
            data: JSON.stringify({
                characterId: characterId,
                sessionId: sessionId,
                stat: attr
            }),
            success: function (response) {
                localStorage.setItem("character", JSON.stringify(response));
                location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/home/error?info=" + xhr.responseText;
            }
        });
    }

    const hideLoading = () => {
        $(document).ready(() => {
            $("#spinner").hide(500);
        });
    }

    // run on load
    hideLoading();
</script>