@model Duel

@{
    ViewData["Title"] = "Market";
}

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Townhall/Duels/' + getPlayerId())">Duels</button>
            <button class="btn btn-outline-secondary">Quest</button>
            <button class="btn btn-outline-secondary">Tourney</button>
            <button class="btn btn-outline-secondary">Tavern</button>
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Townhall/Market/' + getPlayerId())">Market</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border" id="battlequeue">
    @* Battlequeue *@
    <div class="row d-flex flex-wrap justify-content-between mt-3">
        <div class="col col-12 d-flex flex-wrap justify-content-start">
            @foreach (var character in Model.Battlequeue)
            {
                <img class="rounded-circle m-1 pointer item-char-small item-1 character-img"
                        src="@character.Portrait"
                        title="@character.Name" />
            }
        </div>
    </div>
    @* Characters *@
    <div class="row mt-3">
        @* Goodguys *@
        <div class="col-6">
            <div class="float-end d-flex">
                @foreach (var character in Model.GoodGuys)
                {
                    <div onclick="selectCharacterLocal('@character.Id')" id="character-@character.Id" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-1 alive-@character.IsAlive"
                                 src="@character.Portrait"
                                 width="60"
                                 height="80"
                                 title="@character.Name" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="hitpoints" class="text-100">@character.Fights.Hitpoints</span> | <span title="defense" class="text-gray">@character.Fights.Defense</span> &#9830; <span class="text-gray" title="actions">@character.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center mb-1" style="font-size: small">
                                <span title="mana" class="text-100-m">@character.Fights.Mana</span> | <span title="entity level" class="entity-@character.EntityLevel">@character.EntityLevel</span> &#9824; <span style="font-size:x-small" title="specialization">@character.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @* Goodguys *@
        <div class="col-6">
            <div class="float-start d-flex">
                @foreach (var character in Model.BadGuys)
                {
                    <div onclick="selectTargetLocal('@character.Id')" id="character-@character.Id" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-1 alive-@character.IsAlive"
                                 style="transform: scaleX(-1);"
                                 src="@character.Portrait"
                                 width="60"
                                 height="80"
                                 title="@character.Name" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="hitpoints" class="text-100">@character.Fights.Hitpoints</span> | <span title="defense" class="text-gray">@character.Fights.Defense</span> &#9830; <span class="text-gray" title="actions">@character.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center mb-1" style="font-size: small">
                                <span title="mana" class="text-100-m">@character.Fights.Mana</span> | <span title="entity level" class="entity-@character.EntityLevel">@character.EntityLevel</span> &#9824; <span style="font-size:x-small" title="specialization">@character.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script>
    const selectCharacterLocal = (characterId) => {
         selectCharacter(characterId);

         $('.selected-character1').each(function() {
             $(this).removeClass('selected-character1');
         });
         $('#character-' + characterId).addClass('selected-character1');
    }

    const selectTargetLocal = (characterId) => {
         selectTarget(characterId);

         $('.selected-character2').each(function() {
             $(this).removeClass('selected-character2');
         });
         $('#character-' + characterId).addClass('selected-character2');
    }

    document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            $('.selected-character1').each(function() {
                $(this).removeClass('selected-character1');
            });
            $('.selected-character2').each(function() {
                $(this).removeClass('selected-character2');
            });
        }
    });

    // run logic
   
</script>