@model Duel

@{
    ViewData["Title"] = "Market";
}

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Townhall/Duels/' + getPlayerId())">Duels</button>
            <button class="btn btn-outline-secondary">Quest</button>
            <button class="btn btn-outline-secondary">Tourney</button>
            <button class="btn btn-outline-secondary">Tavern</button>
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Townhall/Market/' + getPlayerId())">Market</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border" id="battlequeue">
    @* Battlequeue *@
    <div class="row d-flex flex-wrap justify-content-between mt-3">
        <div class="col col-12 d-flex flex-wrap justify-content-start">
            @foreach (var character in Model.Battlequeue)
            {
                <img class="rounded-circle m-1 pointer item-char-small item-1 character-img"
                    src="@character.Details.Portrait"
                    title="@character.Details.Name" />
            }
        </div>
    </div>
    <div class="row mt-3 text-center">
        <p class="m-0 text-white-navajo">@Model.Message</p>
    </div>
    <div class="row d-flex flex-wrap justify-content-between mt-3">
        <div class="col d-flex justify-content-center">
            <div id="actionsbar" class="btn-group btn-group-sm" role="group" aria-label="Basic example" style="display:none">
                <button onclick="runAction('Melee')" class="btn btn-outline-secondary text-green" title="Melee">Mel</button>
                <button class="btn btn-outline-secondary text-green" title="Arcane">Arc</button>
                <button class="btn btn-outline-secondary text-green" title="Psionics">Psi</button>
                <button class="btn btn-outline-secondary text-green" title="Aid">Aid</button>
                <button class="btn btn-outline-secondary text-green-dark" title="Hide">Hid</button>
                <button class="btn btn-outline-secondary text-green-dark" title="Traps">Tra</button>
                <button class="btn btn-outline-secondary text-orange" title="Use special skill">Sps</button>
                <button class="btn btn-outline-secondary text-white-dirty" title="Let Ai move">Aim</button>
                <button class="btn btn-outline-secondary text-dark" title="Rest">Res</button>
                <button class="btn btn-outline-secondary text-dark" title="Pass turn">Pas</button>
            </div>
        </div>
    </div>
    @* Characters *@
    <div class="row mt-3">
        @* Goodguys *@
        <div class="col-6">
            <div class="float-end d-flex">
                @foreach (var character in Model.GoodGuys)
                {
                    <div onclick="selectSourceOrTarget('@character.CharacterId')" id="character-@character.CharacterId" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-1 alive-@character.Details.IsAlive"
                                 src="@character.Details.Portrait"
                                 width="60"
                                 height="80"
                                 title="@character.Details.Name
*** stats ***
HPS @character.Stats.Fights.Endurance
DEF @character.Stats.Fights.Defense
MAN @character.Stats.Fights.Accretion
ACT @character.Stats.Fights.Actions
STR @character.Stats.Fights.Strength
CNS @character.Stats.Fights.Constitution
AGL @character.Stats.Fights.Agility
WIL @character.Stats.Fights.Willpower
ABS @character.Stats.Fights.Abstract
*** skills ***
MEL @character.Stats.Fights.Melee
ARC @character.Stats.Fights.Arcane
PSI @character.Stats.Fights.Psionics
SOC @character.Stats.Fights.Social
HID @character.Stats.Fights.Hide
SUR @character.Stats.Fights.Survival
TAC @character.Stats.Fights.Tactics
AID @character.Stats.Fights.Aid
CRA @character.Stats.Fights.Crafting
PER @character.Stats.Fights.Perception" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="endurance" class="text-100">@character.Stats.Fights.Endurance</span> | <span title="defense" class="text-gray">@character.Stats.Fights.Defense</span> &#9830; <span class="text-gray" title="actions">@character.Stats.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center mb-1" style="font-size: small">
                                <span title="accretion" class="text-100-m">@character.Stats.Fights.Accretion</span> | <span title="entity level" class="entity-@character.Details.EntityLevel">@character.Details.EntityLevel</span> &#9824; <span style="font-size:x-small" title="specialization">@character.Details.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @* Goodguys *@
        <div class="col-6">
            <div class="float-start d-flex">
                @foreach (var character in Model.BadGuys)
                {
                    <div onclick="selectSourceOrTarget('@character.CharacterId')" id="character-@character.CharacterId" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-1 alive-@character.Details.IsAlive"
                                 style="transform: scaleX(-1);"
                                 src="@character.Details.Portrait"
                                 width="60"
                                 height="80"
                                 title="@character.Details.Name
*** stats ***
HPS @character.Stats.Fights.Endurance
DEF @character.Stats.Fights.Defense
MAN @character.Stats.Fights.Accretion
ACT @character.Stats.Fights.Actions
STR @character.Stats.Fights.Strength
CNS @character.Stats.Fights.Constitution
AGL @character.Stats.Fights.Agility
WIL @character.Stats.Fights.Willpower
ABS @character.Stats.Fights.Abstract
*** skills ***
MEL @character.Stats.Fights.Melee
ARC @character.Stats.Fights.Arcane
PSI @character.Stats.Fights.Psionics
SOC @character.Stats.Fights.Social
HID @character.Stats.Fights.Hide
SUR @character.Stats.Fights.Survival
TAC @character.Stats.Fights.Tactics
AID @character.Stats.Fights.Aid
CRA @character.Stats.Fights.Crafting
PER @character.Stats.Fights.Perception" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="endurance" class="text-100">@character.Stats.Fights.Endurance</span> | <span title="defense" class="text-gray">@character.Stats.Fights.Defense</span> &#9830; <span class="text-gray" title="actions">@character.Stats.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center mb-1" style="font-size: small">
                                <span title="accretion" class="text-100-m">@character.Stats.Fights.Accretion</span> | <span title="entity level" class="entity-@character.Details.EntityLevel">@character.Details.EntityLevel</span> &#9824; <span style="font-size:x-small" title="specialization">@character.Details.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script>
    const selectSourceOrTarget = (characterId) => {
        var source = localStorage.getItem("selectedCharacter");

        if(!source) {
            selectCharacter(characterId);
            $('.selected-character1').each(function() {
                $(this).removeClass('selected-character1');
            });
            $('#character-' + characterId).addClass('selected-character1');
        } else {
            selectTarget(characterId);
            $('.selected-character2').each(function() {
                $(this).removeClass('selected-character2');
            });
            $('#character-' + characterId).addClass('selected-character2');

            $('#actionsbar').slideDown(150);
        }
    }

    const runAction = (actionType) => {
        var characterId = getCharacterId();
        var targetId = getTargetId();
        var playerId = getPlayerId();
        var boardId = getModel().id;

        if(!characterId) {
            alert("Select an action initiator, such as your character.");
            return;
        }
        if(!targetId) {
            alert("Select a target for your action, such as your enemy.");
            return;
        }
        if(!playerId || !boardId) return;


        var url = "/Actions/RunAction";

        $.ajax({
            type: 'PUT',
            url: url,
            contentType: "application/json",
            data: JSON.stringify({
                playerId: playerId,
                sourceId: characterId,
                targetId: targetId,
                boardId: boardId,
                actionType: actionType
            }),
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                hideLoading();
            }
        });
    }
    
    // run logic
   
</script>