@model Characters

@* Townhall/Duel *@

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-secondary">Duels</button>
            <button class="btn btn-outline-secondary">Quest</button>
            <button class="btn btn-outline-secondary">Tourney</button>
            <button class="btn btn-outline-secondary">Tavern</button>
            <button class="btn btn-outline-secondary" onclick="navigateTo('/Townhall/Market/' + getPlayerId())">Market</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@if (Model.CharactersList.Count > 0)
{
    <div class="container mt-3 footer-border" id="characters">
        <div class="row d-flex flex-wrap justify-content-between mt-1">
            <div class="col col-12 d-flex flex-wrap justify-content-start">
                @foreach (var character in Model.CharactersList)
                {
                    if (character.IsLocked)
                    {
                        <img class="rounded-3 m-1 pointer item-char item-7 character-img"
                             id="character-@character.Id"
                             src="@character.Portrait"
                             title="@character.Name" />
                    }
                    else 
                    {
                        <img class="rounded-3 m-1 pointer item-char item-1 character-img"
                             onclick="selectCharacter('@character.Id')"
                             id="character-@character.Id"
                             src="@character.Portrait"
                             title="@character.Name" />
                    }
                }
            </div>
        </div>
    </div>
    <div class="container mt-3 footer-border" id="characters">
        <div class="row d-flex flex-wrap justify-content-between mt-1">
            add duel buttons here
        </div>
    </div>
}
else
{
    <div class="container mt-3 footer-border">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="mb-0 text-muted">No characters to show...</p>
            </div>
        </div>
    </div>
}


<script>
    

    // run logic
    $(document).ready(() => {
        hideLoading();
    });
</script>