@model Duel

@* Townhall/DuelOf *@

<div class="row">
    <div class="col-8">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">Duel</button>
            <button type="button" class="btn btn-outline-dark">Tourney</button>
            <button type="button" class="btn btn-outline-dark">Quest</button>
            <button type="button" class="btn btn-outline-dark">Tavern</button>
            <button type="button" class="btn btn-outline-dark">Market</button>
        </div>
    </div>
    <div class="col-4">
        <div id="spinner" class="spinner-grow text-secondary float-end" role="status" title="Loading...">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="container mt-3 footer-border">
    <div class="row mt-3" id="battlequeue">
        <div class="col col-12 d-flex justify-content-start">
            @foreach (var charId in Model.Battlequeue)
            {
                <img 
                    class="rounded-3 m-1 item-1" 
                    src="@Model.GoodGuys.Union(Model.BadGuys).ToList().Find(s => s.Identity.Id == charId)!.Details.Portrait" 
                    title="@Model.GoodGuys.Union(Model.BadGuys).ToList().Find(s => s.Identity.Id == charId)!.Details.Name" 
                    width="20" 
                    height="20" 
                />
            }
        </div>
    </div>
    <div class="row mt-3" id="resultboard">
        <input class="rounded-3 text-center resultboard" value="@Model.Message"/>
    </div>
    <div class="mt-3" id="actions">
        <div class="dropdown d-flex justify-content-center">
            @* proficiencies *@
            <button class="btn btn-sm btn-outline-dark dropdown-toggle me-1" type="button" id="offensives" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black;">
                Proficiency
            </button>
            <ul class="dropdown-menu resultboard" aria-labelledby="offensives">
                <li class="dropdown-item primary-green pointer" title="Deal double damage to foe">Overwhelm</li>
                <li class="dropdown-item primary-green pointer" title="Increase self combat effect">Brace</li>
                <li class="dropdown-item primary-green pointer" title="Adds to roll vs effort">Force</li>
                <li class="dropdown-item primary-green pointer" title="Increase a friend's combat effect">Prepare</li>
            </ul>
            @* main actions *@
            <div class="btn-group btn-group-sm me-1" role="group" aria-label="Basic example">
                <button onclick="runAction('Attack')" type="button" class="btn btn-sm btn-outline-dark">Attack</button>
                <button onclick="runAction('Cast')" type="button" class="btn btn-sm btn-outline-dark">Cast</button>
                <button onclick="runAction('Mend')" type="button" class="btn btn-sm btn-outline-dark">Mend</button>
                <button onclick="runAction('Rest')" type="button" class="btn btn-sm btn-outline-dark">Rest</button>
            </div>
            @* other actions *@
            <button type="button" class="btn btn-sm btn-outline-dark me-1">Let Ai act</button>
            <button type="button" class="btn btn-sm btn-outline-dark me-1">End round</button>
            <button onclick="hideActions()" title="hide actions" type="button" class="btn btn-sm btn-outline-dark actions secondary-darkred">&#10008;</button>
        </div>
    </div>
    <div class="row mt-3" id="battleboard"> 
        @* Characters *@
        <div class="col-6" id="characterArea">
            <div class="float-end d-flex">
                @foreach (var character in Model.GoodGuys)
                {
                    <div onclick="charSelect('@character.Identity.Id')" id="card-@character.Identity.Id" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-@character.Details.Entitylevel alive-@character.Details.IsAlive" 
                                src="@character.Details.Portrait" 
                                width="60" 
                                height="80" 
                                title="@character.Details.Name" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="endurance" class="text-100">@character.Fights.Endurance</span> | <span title="defense">@character.Fights.Defense</span> &#9830; <span title="actions">@character.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="accretion" class="text-100-m">@character.Fights.Accretion</span> | <span title="resist">@character.Fights.Resist</span> &#9824; <span style="font-size:x-small" title="specialization">@character.Details.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @* Npc *@
        <div class="col-6" id="npcArea">
            <div class="float-start d-flex">
                @foreach (var npc in Model.BadGuys)
                {
                    <div onclick="charSelect('@npc.Identity.Id')" id="card-@npc.Identity.Id" class="d-flex flex-column bd-highlight mb-3 pointer character">
                        <div class="align-self-center">
                            <img class="rounded-3 m-2 item-@npc.Details.Entitylevel alive-@npc.Details.IsAlive" 
                                src="@npc.Details.Portrait" 
                                width="60" 
                                height="80" 
                                title="@npc.Details.Name" />
                        </div>
                        <div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="endurance" class="text-100">@npc.Fights.Endurance</span> | <span title="defense">@npc.Fights.Defense</span> &#9830; <span title="actions">@npc.Fights.Actions</span>
                            </div>
                            <div class="px-2 text-center" style="font-size: small">
                                <span title="accretion" class="text-100-m">@npc.Fights.Accretion</span> | <span title="resist">@npc.Fights.Resist</span> &#9824; <span style="font-size:x-small" title="specialization">@npc.Details.Spec.Substring(0, 3)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
   
    const runAction = (actionType) => {

        const char1 = localStorage.getItem("selectedChar1");
        const sessionId = localStorage.getItem("sessionId");
        const char2 = localStorage.getItem("selectedChar2");

        const data = JSON.stringify({
            sourceId: char1,
            sessionId: sessionId,
            targetId: char2,
            boardId: '@Model.Id',
            boardType: '@Model.Type',
            actionType: actionType
        })

        $("#spinner").show();

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("RunAction", "Actions")',
            contentType: "application/json",
            data: data,
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                window.location.href = "/actions/error?info=" + xhr.responseText;
            }
        });
    }

    const charSelect = (id) => {

        const selectedChar1 = "selectedChar1";
        const selectedChar2 = "selectedChar2";

        let char1 = localStorage.getItem(selectedChar1);
        let char2 = localStorage.getItem(selectedChar2);

        if (char1 && char2) {
            $(".character").removeClass("selected-character1");
            $(".character").removeClass("selected-character2");
            localStorage.removeItem(selectedChar1);
            localStorage.removeItem(selectedChar2);
        } else if (char1) {
            $("#card-" + id).addClass("selected-character2");
            localStorage.setItem(selectedChar2, id);
        } else {
            $("#card-" + id).addClass("selected-character1");
            localStorage.setItem(selectedChar1, id);
        }

        $("#actions").show();
    }

    const hideActions = () => {
        $("#actions").hide();
    }

    const hideLoading = () => {
        $(document).ready(() => {
            $("#spinner").hide(500);
        });

        localStorage.removeItem("selectedChar1");
        localStorage.removeItem("selectedChar2");

        console.log(@Html.Raw(Json.Serialize(Model)));
    }

    hideLoading();
</script>